<footer>
    <div class="footer-container">
        <div class="row">
            <div class="footer-col">
                <h4 class="left">Políticas e Informações Legais</h4>
                <ul>
                    <li><a href="#">Termos de Uso</a></li>
                    <li><a href="#">Política de Privacidade</a></li>
                    <li><a href="#">Política de Cookies</a></li>
                    <li><a href="#">Política de Reembolso</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4 class="left">Informações de Contato</h4>
                <ul>
                    <li><a href="#">Telefone de contato</a></li>
                    <li><a href="#">E-mail de suporte</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4 class="left">Mais dos desenvolvedores</h4>
                <ul>
                    <li><a href="https://www.instagram.com/p3dr0_luci0/" target="_blank">Pedro Lúcio</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Siga-nos nas redes sociais</h4>
                <div class="social-links">
                    <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>