{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Meu Perfil</h2>

<form method="post">
    {% csrf_token %}
    <h4>Informações do Perfil</h4>
    {{ perfil_form|crispy }}
    {{ usuario_form|crispy }}
    <button type="submit" name="salvar_perfil" class="btn btn-primary">Salvar alterações</button>
</form>

<hr>

<form method="post">
    {% csrf_token %}
    <h4>Alterar Senha</h4>
    {{ senha_form|crispy }}
    <button type="submit" name="alterar_senha" class="btn btn-warning">Alterar senha</button>
</form>
{% endblock %}